@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    @apply bg-orange-50/70;
}

header,
main,
footer {
    @apply container mx-auto py-8 px-6 md:py-8 md:px-12;

}

* {
    @apply lato-regular;
}

.lato-thin {
    font-family: "Lato", serif;
    font-weight: 100;
    font-style: normal;
}

.lato-light {
    font-family: "Lato", serif;
    font-weight: 300;
    font-style: normal;
}

.lato-regular {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
}

.lato-bold {
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: normal;
}

.lato-black {
    font-family: "Lato", serif;
    font-weight: 900;
    font-style: normal;
}

.lato-thin-italic {
    font-family: "Lato", serif;
    font-weight: 100;
    font-style: italic;
}

.lato-light-italic {
    font-family: "Lato", serif;
    font-weight: 300;
    font-style: italic;
}

.lato-regular-italic {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: italic;
}

.lato-bold-italic {
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: italic;
}

.lato-black-italic {
    font-family: "Lato", serif;
    font-weight: 900;
    font-style: italic;
}


nav {
    @apply font-[18px] underline;
}

.section-title {
    @apply text-3xl font-semibold leading-relaxed;
}

.section-content {
    @apply space-mono-regular;
}

.link {
    @apply text-orange-800 underline;
}

.space-mono-regular {
    font-family: "Space Mono", serif;
    font-weight: 400;
    font-style: normal;
}

.space-mono-bold {
    font-family: "Space Mono", serif;
    font-weight: 700;
    font-style: normal;
}

.space-mono-regular-italic {
    font-family: "Space Mono", serif;
    font-weight: 400;
    font-style: italic;
}

.space-mono-bold-italic {
    font-family: "Space Mono", serif;
    font-weight: 700;
    font-style: italic;
}



main {
    @apply grid grid-cols-12 justify-center mx-auto;
}

main section {
    @apply col-span-8 mx-auto;
}